.slider h3,
.slider h5,
.clients {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

.parallax-container {
	height: 20%;
}

.parallax img {
	filter: grayscale(0.6);
	opacity: 0.5 !important;
}

.clients img {
	max-width: 200px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
}

section {
	padding: 20px 0;
}

footer {
	padding: 10px 0;
}



